
@media (max-width: 600px)
{
    body {

        margin-bottom: 5vh;
        align-content: center;
        background-size: cover;
        background-image: url(images/mobilebackground.png);
        background-attachment: fixed;
        background-position: center;
        background-color: black;
        background-repeat: no-repeat;
        font-size: 18px;
    }
}

    @media (min-width: 601px)
    {
        body {
            margin-bottom: 5vh;
            align-content: center;
            background-size: cover;
            background-image: url(images/background.png);
            background-attachment: fixed;
            background-position: center;
            background-color: black;
            background-repeat: no-repeat;
            font-size: 18px;
        }
    }


.jumbotron {
    background-color: black;
    font-family: 'Creepster', cursive, Arial, Helvetica, sans-serif; 
    position: relative;
    top: 20%;
    left: 7.5%;
    width: 85%;
    color: lime;
    border: 1px solid mediumpurple;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.6);
    text-shadow: 0 0 75px mediumpurple;
    box-shadow: 0 0 50px mediumpurple;
}

#tweets, #moonPhases, .weatherContainer, #recipe, #advice {
    background-color: black;
    font-family: 'Creepster', cursive, Arial, Helvetica, sans-serif; 
    color: lime;
    background-color: rgba(0,0,0,0.9);
    text-shadow: 0 0 75px mediumpurple;
    border: 1px solid mediumpurple;
    border-radius: 4px;
    box-shadow: 0 0 50px mediumpurple;
    font-size: 130%;
}
.weatherContainer {
    background-color: black;
    font-family: 'Creepster', cursive, Arial, Helvetica, sans-serif;
    color: lime;
    opacity: 0.9;
    text-shadow: 0 0 75px mediumpurple;
    border: 1px solid mediumpurple;
    border-radius: 4px;
    box-shadow: 0 0 50px mediumpurple;
    font-size: 130%;
}

#tweets, #news {
    overflow-y: scroll;
    height: 40vh;
    padding-top: 0;
    font-size: 80%;
}

.weatherContainer {

    font-size: 24px;

}
#city {
    color: black;
    font-size: 24px;

}

button {
    background-color: black;
    border-radius: 8px;
    border: 3px solid mediumpurple;
}

p {
    font-size: 130%;
}

.titleP{
    font-size: 150%;
}

#modalShadow{
    position:fixed; 
    left: 0; 
    top: 0;
    width: 100vw; 
    height: 100vh;
    background-color:rgba(0,0,0,.4); 
    display: none; 
}


#modalBody{
    margin: 10% auto 15% auto;
    border: 1px solid mediumpurple;
    border-radius: 4px;
    width: 50%;
    position: absolute;
    left: 25%;
    color: red;
    font-family: 'Creepster', cursive, Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
}

.borderClass{
    border: 2px solid lime;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif; 
}

#moonPhases > img {
    width: 46%;
    border: 1px solid lime;
}

#adSpace > img{
    width: 100%;
}
#news {
    overflow-y: scroll;
    height: 40vh;
    background-color: black;
    font-family: 'Creepster', cursive;
    color: lime;
    background-color:rgba(0,0,0,.9);
    text-shadow: 0 0 75px mediumpurple;
    border: 1px solid mediumpurple;
    border-radius: 4px;
    box-shadow: 0 0 50px mediumpurple;
}
.newsPic, .drinkPic {
    width: 50%;
}

#tweetTitle , #newsTitle, #cocktailTitle {
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;

}

.newsDescription {
    font-family: Arial, Helvetica, sans-serif;
}
.news {
    margin-bottom: 10%;
}

.modalImage{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    border-top: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li, .instructions, #adviceQuote {
    font-family: Arial;
    font-size: 60%;
}
.instructions {
    margin-top: 5%;
}
#wolfman {
    width: 50%;
    box-shadow: 0 0 25px lime;;
}
#newsP, #tweetP {
    font-size: 200%;
}
